<h4>Acerda de nosotros</h4>
<p class="justified-text">
	<%= @contact_information.about %>
</p>

<h4>Misión</h4>
<p class="justified-text">
	<%= @contact_information.mission %>
</p>

<h4>Visión</h4>
<p class="justified-text">
	<%= @contact_information.vision %>
</p>